<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Volunteer Management Systems</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
    </style>
</head>

    <body>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><button onclick="AdminToggle()">Admin View</button></div>
            <div class="col-lg-4">
                <a href='@Url.Action("Index", "Home")'>
                    <img src="~/References/head title.png" style="width:50%">
                </a>
            </div>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="SideNav1" class="nav">
                <a>@Html.ActionLink("Home", "Index", "Home")</a>
                <a>@Html.ActionLink("Profile", "Contact", "Home")</a>
                <a>@Html.ActionLink("FAQ", "FAQ", "Home")</a>
                <a>@Html.ActionLink("Event", "Index", "Event")</a>
                <a>@Html.ActionLink("Task", "Index", "Task")</a>
                <a>@Html.ActionLink("Report", "Index", "Report")</a>
                <a>@Html.ActionLink("Team Management", "Index", "TeamManage")</a>
            </div>
            <div id="SideNav2" class="nav" style="display:none;">
                <a>@Html.ActionLink("Home", "Index", "Home")</a>
                <a>@Html.ActionLink("Profile", "Contact", "Home")</a>
                <a>@Html.ActionLink("FAQ", "FAQ", "Home")</a>
                <a>@Html.ActionLink("Event", "Index", "Event")</a>
                <a>@Html.ActionLink("Task", "Index", "Task")</a>
                <a>@Html.ActionLink("Team Management", "Index", "TeamManage")</a>
            </div>
        </div>

        <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "15%";
                document.getElementById("main").style.marginLeft = "15%";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                }

    function AdminToggle() {
        var x = document.getElementById("SideNav1");
        var y = document.getElementById("SideNav2");
        var aTask = document.getElementById("AddTask");
        var iTask = document.getElementById("ImportTask");
        var eTask = document.getElementById("ExportTask");
        var asTask = document.getElementById("AssignTask");
  if (x.style.display === "none") {
      x.style.display = "block";
      y.style.display = "none";
      aTask.style.display = "block";
      iTask.style.display = "block";
      eTask.style.display = "block";
      asTask.style.display = "block";
  } else {
      x.style.display = "none";
      y.style.display = "block";
      aTask.style.display = "none";
      iTask.style.display = "none";
      eTask.style.display = "none";
      asTask.style.display = "none";

        }
        SingleEventEdit();
}
        </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-2">&copy; @DateTime.Now.Year - Tumble</div>
                <div class="col-lg-8">
                    <a href='@Url.Action("Chat", "Home")' class="btn btn-success btn-block" role="button">Chat Room</a>
                </div>
                <div class="col-lg-2">
                    <a href='@Url.Action("Index", "Login")' class="btn btn-default btn-block" role="button">Logout</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
</html>
