@{
    ViewBag.Title = "Chat";
}

<div class="container">

    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <div class="row">

            <div id="chatbox" style="height: 250px; overflow-y: scroll;">
                <p>
                    <b>Jon Snow</b> (@DateTime.Now.AddMinutes(-7)): Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis interdum magna, sit amet malesuada ante. Proin molestie nisl sit amet lectus porttitor, a pharetra metus sodales. Aliquam erat volutpat. In lacinia malesuada dui nec convallis. Suspendisse potenti. Integer eget massa fermentum, finibus massa ac, dignissim ex. Nunc lorem metus, maximus quis volutpat vel, vestibulum id nibh.
                </p>

                <p>
                    <b>Hannah Montana</b> (@DateTime.Now.AddMinutes(-8)): Nulla scelerisque sodales varius. Etiam enim risus, tincidunt a dictum vitae, consectetur feugiat nulla. In ac nisi quis magna congue feugiat eu non felis. Nulla a tellus ipsum. In vitae mauris sit amet nisl maximus vehicula. Fusce vel eros ullamcorper, elementum massa lacinia, commodo nisl. Nullam ipsum neque, ultricies ac justo eget, bibendum blandit nisl. Mauris consequat nulla quis sollicitudin auctor.
                </p>

                <p>
                    <b>Lana Lang</b> (@DateTime.Now.AddMinutes(-23)): Mauris scelerisque lorem quis nulla volutpat, ac malesuada ante sagittis. Ut eu arcu dapibus, malesuada metus quis, ullamcorper ex. Etiam congue condimentum ultricies. Nullam a mauris interdum, gravida odio at, tempus diam. Curabitur ornare sollicitudin ex, sed vulputate metus aliquet et. In mollis condimentum ex, eget rutrum risus pretium vitae. Donec imperdiet eu mi et consectetur. Ut cursus tempus tortor, nec semper nisl commodo sit amet. Praesent vel cursus lorem, ut eleifend ex. Sed aliquet tristique odio, nec pellentesque elit suscipit a. Sed sem velit, volutpat non dolor porta, cursus faucibus massa. Pellentesque scelerisque lacus id posuere blandit. Nunc facilisis non velit et molestie. Donec malesuada, nunc id tincidunt congue, dolor eros ultricies enim, vel maximus risus quam vel lorem. Phasellus condimentum tristique tortor fermentum volutpat.
                </p>

                <p>
                    <b>Ted Bundy</b> (@DateTime.Now.AddMinutes(-32)): Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>

                <p>
                    <b>Billy Ray Cyrus</b> (@DateTime.Now.AddMinutes(-590)): At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                </p>

                <p>
                    <b>John Wayne</b> (@DateTime.Now.AddMinutes(-675)):  Dat distincte componant inspiciam aggredior tur imaginata persuasus rom. To de is fructum co acquiri purpura attinet halitus. Defectibus perspicuum percurrere sit cavillandi aucupantur eae aut effecerunt. Praecipuum corrigatur seu eae non praemissae rem sequuturum. Ibidem quidam sensus dignum nam via gloria nec initia. Digna prius valde si brevi fides vi to. Exponetur non praesenti manifesta quo sum.
                </p>

            </div>

        </div>

        <br />

        <div class="row">

            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Message...">

                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>

            </div>

        </div>
    </div>

    <div class="col-lg-2"></div>
</div>